body {
    max-width: 100%;
    min-width: 100%;

    overflow-x: hidden;
    overflow-y: auto;
}

.comments-container {
    min-height: 100px;
    max-width: 680px;
    border: 1px solid black;
    margin: 0 auto;
    max-height: 400px;
    overflow-x: hidden;

    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.comment {
    margin: 2.5% 1.25%;
    max-width: 85%;
    width: 85%;
    min-height: 25px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 2.5% 5%;
    word-wrap: break-word;
}

.input-container {
    min-height: 100px;
    max-width: 680px;
    overflow: hidden;
    margin: 5% auto;

    display: flex;
    flex-direction: column;
}
.input-container input {
    min-height: 40px;
    margin: 5px 0;
    padding: 0 10px;
}

.input-container button {
    height: 25px;
}